.page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1, h2 {
        font-family: 'Courier New', Courier, monospace;
    }
    .grid {
        display: flex;
        flex-wrap: wrap;
        width: 306px;
    }
}